<div class="absolute h-full w-full bg-zinc-800/70 top-0 bottom-0 z-50 flex items-center justify-center">
    <div class="max-w-lg bg-white border border-gray-200 rounded-lg shadow" transition:name="wrapper">
        <a href="#">
            <img 
                class="rounded-t-lg" 
                src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image.jpg" 
                alt="" 
                transition:name="cover-image"
            />
        </a>
        <div class="p-5">
            <p>Placeholder content</p>
        </div>
    </div>
</div>